.table {
    border-collapse: collapse;
    width: 100%;
    table-layout: fixed;
}

.table__caption {
    position: relative;
    padding: 10px;
    line-height: 25px;
}

.table__new-employee-btn {
    position: absolute;
    right: 10px;
}