.upsert__fieldset {
    display: inline;
    text-align: right;
}

.upsert__legend {
    text-align: left;
}

.upsert__label {
    display: block;
    padding: 10px 0;
}

.upsert__label--error > .upsert__label-text {
    color: red;
}

.upsert__label--error > .upsert__input {
    border: 2px solid red;
}

.upsert__label-text {
    min-width: 100px;
    display: inline-block;
    text-align: right;
}

.upsert__error-message {
    display: inline-block;
    width: 185px;
    text-align: left;
    color: red;
    font-size: 0.8em;
}

.upsert__input {
    min-width: 180px;
}

.upsert__skills {
    text-align: left;
}

.upsert__skills-container {
    width: 300px;
    min-height: 100px;
    background: #CCCCCC;
    border-radius: 5px;
    border: 1px solid black;
    margin-top: 10px;
    padding: 5px;
}

.upsert__skill {
    background: white;
    border: 1px solid #333333;
    border-radius: 3px;
    display: inline-block;
    padding: 5px 10px;
    margin: 5px;
}

.upsert__skill-delete {
    margin-left: 5px;
    cursor: pointer;
    color: darkred;
}

.upsert__buttons-container {
    margin-top: 10px;
}